html.dark {
    /* 修一下黑暗主题默认的前景色...... */
    --c-text: #cedede;
    --c-text-light: #dceded;
    --c-text-lighter: #deeeee;
    --c-text-lightest: #dfefef;
}

/* 再修一下顶栏的样式...... */
.navbar{
    border: none;
    background-color: transparent;
    box-shadow:inset 0px 0px 50px 5px var(--c-bg-navbar);
    backdrop-filter: blur(15px);
    padding-left: 4rem;
    transition: all var(--t-transform);
}
.sidebar-open .navbar{
    background-color: var(--c-bg-navbar);
}

/* 把Mobile模式下的侧边栏按钮搞出来 */
.toggle-sidebar-button {
    transition: all var(--t-transform);
    display: block;
}

/* 侧边栏和页面的动画 */
.sidebar{
    border: none;
    transform: translateX(-100%);
}
.sidebar-open .sidebar{
    transform: translateX(0)
}
.sidebar .navbar-items{
    border: none;
}
.page{
    transition: all var(--t-transform), background-color var(--t-color);
    padding-left: 0em;
}
@media (min-width: 70em) {
    .sidebar-open .page{
        padding-left: var(--sidebar-width);
    }
}
@media (min-width: 719px /* $MQMobile */){
    .no-sidebar .toggle-sidebar-button{
        opacity: 0;
        pointer-events: none;
    }
    .no-sidebar .navbar{
        padding-left: 1.5rem;
    }
}
@media (max-width: 70em) {
    .sidebar-open .page{
        filter: blur(5px);
    }
}

/* 内容宽度调整 */
:root{
    --content-width: 50em;
}

